// .btn:is(input[type="checkbox"]:checked), .btn:is(input[type="radio"]:checked) {
//     background-color: oklch(var(--er));
//     border-color: oklch(var(--er));
//     color: oklch(var(--erc));
// }

.btn:is(input[aria-label="KO"]) {
    &:is(input[type="radio"]:checked, input[type="checkbox"]:checked) {
        background-color: oklch(var(--er));
        border-color: oklch(var(--er));
        color: oklch(var(--erc));
    }
}
.btn:is(input[aria-label="OK"]) {
    &:is(input[type="radio"]:checked, input[type="checkbox"]:checked) {
        background-color: oklch(var(--su));
        border-color: oklch(var(--su));
        color: oklch(var(--suc));
    }
}
